swiper-container {
  height: 300px;

  --swiper-pagination-bullet-inactive-color: rgb(var(--ion-color-primary-rgb), 0.5);
  --swiper-pagination-color: var(--ion-color-primary);
  --swiper-scrollbar-bg-color: var(--ion-color-light);
}
